.grid {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    height: inherit;
}

.col1 {
    flex: 0 0 33.33%;
}

.col2 {
    flex: 0 0 66.66%;
}

.col3 {
    flex: 0 0 100%;
}
