body {
    background-color: #f9f9f9;
}

.main-section {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

form {
    margin-bottom: 20px;
    display: inline-block;
}

.form-section {
    margin-bottom: 30px;
}

.form-section-first {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.form-section-first input {
    width: 31%;
    border: 0;
    padding-left: 10px;
    height: 40px;
    color: lightgrey;
    font-size: 20px;
    padding-right: 10px;
}

.form-section-first input::placeholder {
    border-bottom: 1px solid lightgrey;
    color: lightgrey;
}

.form-section-first input:focus {
    outline: none;
}

.form-section span {
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 30px;
}

header {
    margin-bottom: 100px;
}

fieldset {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
}

textarea {
    resize: none;
    height: 100px;
    border: 2px solid darkgrey;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
}

.radio-group {
    display: inline-flex;
}

td input {
    width: 40px;
}

.checkBoxes {
    border: 2px solid darkgrey;
    height: 50px;
}

legend {
    color: #1ab2ff;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style: none;
}

li {
    float: left;
    width: 30%;
    margin: 0 10px 10px;
    font-size: 14px;
    line-height: 30px;
}

li select {
    float: right;
    height: 30px;
    width: 136px;
}

.submitButton {
    float: right;
    width: 200px;
    height: 60px;
    background: #1ab2ff;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 9px 9px grey;
    color: white;
    font-size: 20px;
}

.inputDate {
    color: lightgrey !important;
}

