//New evaluation less file

//Import colors file
@import 'colors';


ul {
  list-style-type: none;
}

li.bullets {
  padding: 10px;
}

.submit-button {
  float: right;
  margin-top: 30px;
  padding: 15px 40px;
  margin-right: 100px;
  border: 2px solid #03A9F4;
  color: white;
  font-size: 16px;
  background-color: #03A9F4;
  font-weight: bold;
  border-radius: 4px;
}

.candidate-input {
  margin-left: 95px;
  border-right: none;
  border-left: none;
  border-top: none;
}

.interviewer-input {
  margin: 0 110px 0 110px;
  border-right: none;
  border-left: none;
  border-top: none;
}

.calendar-input {
  margin: 0 110px 0 110px;
  border: none;
}

.logo-section {
  border-bottom: 2px solid @darkgrey;
  padding-bottom: 15px;
}

.text-alignment {
  text-align: center;
}

.logo-image {
  float:left;
  width: 12%;
}

.level_evaluation {
  background-color: @lightBlue;
  margin: auto;
  width: 62.2%;
  display: flex;
}

h3{
  color: @white;
  padding-left: 18px;
}

.container {
  margin-top: 100px;
}

.row {
  width: 89%;
  margin: 0 auto;
}

.description-section {
  color: @lightBlue;
}

.row_section {
  border: 2px solid @grey;
  display: flex;
  margin: auto;
  width: 62%;
}

.bullets_menu {
  padding: 16px;
}

.row_first {
  margin: 0 auto;
  width: 89%;
}

.description-section {
  color: @lightBlue;
}

textarea {
  margin-right: 282px;
  margin-left: 252px;
  height:150px;
  border: 2px solid @grey;
}

.submit-button-section {
  width: 73%;
  margin: 0 auto;
}

.submit-button {
  float: right;
  margin-top: 30px;
  padding: 15px 40px;
  margin-right: 100px;
}

.container-fluid {
  margin-top: 80px;
}

.language-form {
  text-align: center;
}

.field-section {
  display:inline;
  width: 61%;
}

ul {
  display: inline-flex;
  text-align: right;
  width: 97%;
}

.container-technical-evaluation {
  margin-top: 100px;
}

.row {
  width: 89%;
  margin: 0 auto;
}

.description-section {
  color: @lightBlue;
}

.level_evaluation {
  background-color: @lightBlue;
  margin: auto;
  width: 62.2%;
  display: flex;
}

.evaluation-button {
  margin-left: 150px;
}

.top-page-inputs {
  display: block;
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.col-md-3 {
  display: inline-block;
}

a.border-bottom:hover {
  border-bottom: 4px solid @blue;
  border-bottom-width: 7px;
}

.language-form {
  margin-top: 70px;
}

.description-section {
  margin-left: 300px;
}

fieldset.field-section {
  text-align: center;
}

legend {
  text-align: left;
  color: #03A9F4;
}

.input-circle[type='radio']{
  width: 35px;
  height: 23px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.footer-area {
  padding: 25px 350px 20px 0;
  font-weight:bold;
  font-size:16px;
  color: gray;
  text-align: right;
  margin-top: 120px;
  margin-bottom: 0;
}

.language-form {
  margin-top: 70px;
}

.description-section {
  margin-left: 300px;
}

fieldset.field-section {
  text-align: center;
}

legend {
  text-align: left;
  color: #03A9F4;
}

.input-circle[type='radio']{
  width: 35px;
  height: 23px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.footer-area {
  padding: 25px 350px 20px 0;
  font-weight:bold;
  font-size:16px;
  color: gray;
  text-align: right;
  margin-top: 120px;
  margin-bottom: 0;
}

.logout_button {
  float:right;
}

fieldset ul li {
  margin: 0 auto 10px;
}

ul li label {
  padding: 25px;
  font-size: 18px;
}

fieldset legend h2 {
  padding-right: 17px;
  padding-left: 17px;
}

.col-md-3.bullets_menu {
  margin: 0 auto 10px 10px;
}

ul li select {
  margin-top: 10px;
}

/*Header form*/
header form {
  margin-left: 400px;
}

.logout_button {
  float:right;
}

.technical-list li {
  margin: 0 auto 10px;
}

ul li label {
  padding: 25px;
  font-size: 18px;
}

fieldset legend h2 {
  padding-right: 17px;
  padding-left: 17px;
}

.col-md-3.bullets_menu {
  margin: 0 auto 10px 10px;
}

ul li select {
  margin-top: 10px;
}

/*Header form*/
header form {
  margin-left: 400px;
}

table tr th {
  background-color: #03A9F4;
  color: white;
  padding: 10px 0 10px 0;
}


