body {
  width: 100%;
  background-color: rgb(230, 230, 230);
}

header{
  background: url("images/feedback-banner.jpg") center center no-repeat;
  opacity: 0.8;
  height: 600px;
  width: 100%;

  .grid {
    height: 100%;
  }
}

.login-section-1{
  background-color: rgb(255, 255, 255);
  padding: 70px;
}

.login-section-text{
  padding: 115px;
}

.login-section-2{
  padding: 30px 30px;
}

.login-form{
  background-color: rgb(255, 255, 255);
  align-self: center;
  padding-bottom: 30px;
  margin-left: 20%;
  width: 25%;
  height: 65%;


  .login-form-header{
    color: rgb(255, 255, 255);
    background-color: rgb(51, 153, 255);
    font-family: roboto;
    font-weight: bold;

    h3{
      margin-top: 0%;
      line-height: 45px;
      text-align: center;
    }
  }

  .login-form-items{
    padding: 25px 25px 5px;

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid rgb(166, 166, 166);
      font-family: roboto;
      font-size: 20px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }


}

