{
    "extends": "eslint-config-airbnb",
    "rules": {
      "linebreak-style": 0,
      "jsx-a11y/href-no-hash": 0,
      "spellcheck/spell-checker": 0,
      "no-undef": 0,
      "no-unused-vars": 0,
      "indent": ["error", 4],
      "func-names": 0
    }
    
  }