.image{
  float:left;
  margin-right: 5%;
  height: 25%;
  width: 15%;
}

.text {
  margin-top: 10%;
  margin-left: 10%;
  float: right;
}

.text1 {
  margin-top: 20%;
  margin-right: 10%;
  float: left;
}

br { font-size: 200%; }

#container {
    position: relative;
}

.feedback-form {
  background: #F0FFFF;
  margin-top: -500px;
  position:absolute;

  }

input[type=text], [type=date] {
    width: 30%;
    display: inline-block;
    border-width:0px;
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: #A9A9A9;
}

input[type=radio]{
  border-color: #1E90FF;
}

input[type=submit]{
  margin-top: 5%;
  width: 100px;
  height: 60px;
  background-color: #1E90FF;
  box-shadow: 0px 10px 30px #A9A9A9;
  float: right;
  color: white;
  font-size: large;
}

#top-header {
  margin-top: -500px;
  position: absolute;
}

.content2{
  margin-top: 10%;
}

hr {
  border:none;
  height: 20px;
 	width: 100%;
	height: 50px;
	margin-top: 0;
	border-bottom: 0.5px solid #A9A9A9;
	box-shadow: 0 20px -20px 20px #A9A9A9;
  margin: -50px auto 10px;
}

.center {
    margin: auto;
    margin-top: 5%;
    width: 70%;
}

legend {
  color: #1E90FF;
  font-size: x-large;
  font-weight: bold;
}

h2 {
  color: #1E90FF;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color:  #1E90FF;
    color: white;
    font-size: 1.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

textarea {
  width: 100%;
  border: 0.5px solid black;
}

ul{
  list-style-type: none;
}

fieldset{
  margin-top: 5%;
  color: black;
  width: 100%;
}

.border-lists{
    border: 0.5px solid black;
}

option, select{
  font-size: x-large;
  color: #708090;
  width: 7%;
  text-align: center;
  margin-left: 4%;
  margin-top: 1%;
  margin-right: 5%;
  display: inline-block;
}

label {
  font-size: large;
  display: inline-block;
  color: #708090;
  margin-left:-4%;
  margin-right: 4%;
  margin-top: 1%;
  width: 15%;
  text-align: left;
}

footer {
  width: 100%;
  margin-top:10%;
  background-color: #B0C4DE;
  height: 100px;
}
