//Import colors file
@import 'colors';

.button {
  border: none;
  padding: 10px 26px;
  font-size: 18px;
  background-color: @lightBlue;
  color: @white;
  margin-top: 50px;
}

footer {
  line-height: 60px;
  color: grey;
  background-color: @lightGrey;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
}