//Evaluation less file

.navigation_bar {
  border-bottom: 2px solid darkgrey;
  padding-top: 12px;
  padding-bottom: 14px;
}

.logo_image {
  width: 40%;
}

.footer_description {
  padding: 25px 0 12px 0;
  font-weight:bold;
  font-size:16px;
  color: gray;
}

.container_table {
  margin-top: 120px;
}

.col-md-4 {
  text-align:center;
}

.evaluation_button {
  padding-top: 4px;
}

.new_evaluation {
  margin-left: 100px;
}

a.border_bottom:hover {
  border-bottom: 4px solid blue;
  border-bottom-width: 7px;
}

table {
  width: 100%;
}

