/*Evaluation html*/

.add_button {
    background-color: #03A9F4;
    margin:8px 0;
    color: white;
    width: 16%;
    height: 100%;
    font-size: 20px;
    border-radius: 100%;
    border: 1px solid #03A9F4;
}


/* Desktops and laptops ----------- */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    /* Styles */
    .add_button {
        background-color: #03A9F4;
        margin: 8px 0;
        color: white;
        width: 19%;
        height: 100%;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #03A9F4;
    }

    .logout_button {
        float: none!important;
    }

    .new_evaluation {
        float: right;
    }
}

/*Screen between 699px and 768px*/
@media screen and (max-width: 768px) and (min-width: 699px) {
    .logout_button {
        float: none!important;
    }

    .add_button {
        background-color: #03A9F4;
        margin: 8px 0;
        color: white;
        width: 23%;
        height: 100%;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #03A9F4;
    }
}

/*Screen between 529px and 699px*/
@media screen and (max-width: 699px) and (min-width: 520px) {
    .logout_button {
        float: none!important;
    }

    .add_button {
        background-color: #03A9F4;
        margin: 8px 0;
        color: white;
        width: 37%;
        height: 100%;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #03A9F4;
    }
}

/*Screen between 320px and 520px*/
@media screen and (max-width: 520px) and (min-width: 320px) {
    .logout_button {
        float: none!important;
    }
}