/*Feedback HTML*/

.footer_section {
    padding: 25px 0 12px 0;
    font-weight:bold;
    font-size:16px;
    color: gray;
    text-align: right;
}

.feedback_interview_section {
    text-align: center;
    padding-top: 125px;
    position: absolute;
    width:100%;
}

.header_form_section {
    width: 21%;
    background-color: white;
    height: 340px;
}

.header_background_section {
    height: 640px;
}

h1.interview_text_area {
    background-color: #03A9F4;
    color: white;
    font-size: 22px;
    padding: 27px;
}

.username_area_input {
    width: 80%;
    margin-top: 30px;
    border-right: none;
    border-left: none;
    border-top: none;
}

.password_area_input {
    width: 80%;
    margin-top: 30px;
    border-right: none;
    border-left: none;
    border-top: none;
}

.login_button {
    margin-top:80px;
    padding: 3px 30px 3px 30px;
    border: 1px solid #03A9F4;
    color: white;
    background-color: #03A9F4;
}

.text_description {
    font-size: 13px;
    margin-top: 60px;
}

.text_description_2 {
    margin-top:150px;
}

.results_image {
    float:right;
}

.footer_margin {
    margin-top: 80px;
}

.footer_section{
    text-align: center;
    background-color: lightgray;
}

/*Adding style for mobile devices/ tablets / large monitors*/

/*Screen between 320px and 520px*/
@media screen and (max-width: 520px) and (min-width: 320px) {
    /* Styles */

    .footer_section{
        text-align: center;
    }

    .left_image {
        float: left!important;
    }

    header form {
        margin-left: 0!important;
    }

    .header_form_section {
        width: 94%!important;
    }
}

/*Screen between 520px and 699px*/
@media screen and (max-width: 699px) and (min-width: 520px) {
    /* Styles */

    .footer_section{
        text-align: center;
    }
    .left_image {
        float: left!important;
    }

    header form {
        margin-left: 0!important;
    }

    .header_form_section {
        width: 94%!important;
    }
}

/*Screen between 699px and 768px*/
@media screen and (max-width: 768px) and (min-width: 699px) {
    /* Styles */

    .footer_section{
        text-align: center;
    }
    .left_image {
        float: left!important;
    }

    header form {
        margin-left: 0!important;
    }

    .header_form_section {
        width: 94%!important;
    }
}

/*Screen between 768px and 992px*/
@media screen and (max-width: 992px) and (min-width: 768px) {
    /* Styles */

    .footer_section{
        text-align: center;
    }
    .left_image {
          float: left!important;
      }

    header form {
        margin-left: 0!important;
    }

    .header_form_section {
        width: 94%!important;
    }
}
